.school-2022-stationery{
	margin-bottom: 40px;
	overflow: hidden;
	&__header{
		margin-bottom: 30px;
		text-align: center;
	}
	&__title{
		font-family: 'PT Sans';
		font-weight: 700;
		font-size: 38px;
		line-height: 49px;
		color: #111111;
	}
	&__body{
		display: flex;
		grid-gap: 30px;
		flex-wrap: wrap;
		justify-content: center;
		position: relative;
		margin: 0 auto;
		&:after{
			content: '';
			position: absolute;
			top: 50%;
			right: -150px;
			background-image: url("../img/back_element_1.png");
			background-repeat: no-repeat;
			background-size: 100%;
			width: 213px;
			height: 230px;
			z-index: -1;
		}
	}
	&__item{
		display: block;
		text-decoration: none;
		border-radius: 15px 15px 15px 50px;
		overflow: hidden;
		background-color: #1A1A1A;
		padding: 30px;
		position: relative;
		min-height: 200px;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			background-image: url("../img/category-bg.png"), url("../img/category-bg2.png");
			background-size: 100%;
			background-position: center;
			width: 100%;
			height: 100%;
			opacity: .3;
		}
		&:hover{
			opacity: .7;
		}
		&--item1{
			flex: 1 0 660px;
		}
		&--item2{
			flex: 1 0 315px;
			background: linear-gradient(111.53deg, #009CCC 2.5%, #66DBFF 100%);
		}
		&--item3{
			background-image: linear-gradient(111.96deg, #E66027 0%, #FFA024 100%);
			flex: 1 0 315px;
		}
		&--item4{
			background-color: #E6B95A;
			flex: 1 0 315px;
		}
		&--item5{
			background-color: #C69EE8;
			flex: 1 0 315px;
		}
		&--item6{
			background-color: #F26670;
			flex: 1 0 660px;
		}
		img{
			object-fit: cover;
			display: block;
			height: auto;
			margin: 0;
		}
	}
	&__figure{
		margin: 0;
		position: absolute;
		bottom: 0;
		right: 0;
	}
	&__name{
		position: absolute;
		top: 30px;
		left: 30px;
		font-family: 'PT Sans';
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 30px;
		color: #FFFFFF;
		z-index: 1;
	}
	&__arrow{
		position: absolute;
		bottom: 30px;
		left: 30px;
		width: 40px;
		height: 40px;
		background-image: url("../img/category-arrow.png");
		background-size: 100%;
		background-repeat: no-repeat;
		z-index: 1;
	}
	@include r(767){
		&__title{
			font-size: 24px;
			line-height: 28px;
		}
		&__item{

			&--item1{
				flex: 1 0 315px;
			}

			&--item6{

				flex: 1 0 315px;
			}

		}
		&__figure{
			height: 100%;
			img{
				height: 100%;
			}
		}
	}
}