<div class="remodal" data-remodal-id="modal-partner">
    <button data-remodal-action="close" class="remodal-close">закрыть</button>
    <h1 class="remodal__title">стать партнером</h1>
    <div class="remodal__body">
        <form class="form" action="">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="имя" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="город">
            </div>
            <div class="form-group">
                <input class="form-control js-phone-mask" type="text" placeholder="телефон">
            </div>
            <div class="form-group">
                <input class="form-control" type="email" placeholder="e-mail" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary">отправить заявку</button>
            </div>
        </form>
    </div>
</div>