.tabs {
    margin: 20px 0;
    &__caption {
        margin: 20px 0;
        padding: 0;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px,310px));
        grid-gap: 10px;
        align-items: center;
        justify-content: space-between;
        li {
            transition: all 0.3s ease;
            text-align: center;
            display: flex;
            flex-direction: column;
            &.active {
                .tabs__name{
                    font-size: 38px;
                    line-height: 46px;
                    opacity: 1;
                    span{
                        font-size: 60px;
                        line-height: 78px;
                        top: -40px;
                    }
                }
                .tabs__icon{
                    opacity: 1;
                }
            }
            &:hover {
                transition: all 0.3s ease;
                opacity: 0.7;
            }
            a{
                text-decoration: none;
            }
        }
    }
    &__content {
        display: none;
        background-color: #fff;
        border-radius: 20px;
        padding: 40px;
        position: relative;
        margin-bottom: 40px;
        &.active {
            display: block;
        }
        &.naryadite-yelku{
            &:after{
                content: '';
                position: absolute;
                top: -50px;
                left: -300px;
                background-image: url("../img/naryadite-yelku-newyear2022/block1_back_element.png");
                background-size: 100%;
                background-repeat: no-repeat;
                width: 518px;
                height: 733px;
                pointer-events: none;
                z-index: -1;
            }
        }
        &.nakroyte-prazdnichnyy-stol{
            &:after{
                content: '';
                position: absolute;
                top: -50px;
                left: -300px;
                background-image: url("../img/nakroyte-prazdnichnyy-stol-newyear2022/block1_back_element.png");
                background-size: 100%;
                background-repeat: no-repeat;
                width: 330px;
                height: 539px;
                pointer-events: none;
                z-index: -1;
            }
        }
        &.ukraste-dom{
            &:after{
                content: '';
                position: absolute;
                top: -50px;
                left: -300px;
                background-image: url("../img/ukraste-dom-newyear2022/block1_back_element.png");
                background-size: 100%;
                background-repeat: no-repeat;
                width: 375px;
                height: 461px;
                pointer-events: none;
                z-index: -1;
            }
        }
        &.vyberite-podarki{
            &:after{
                content: '';
                position: absolute;
                top: -50px;
                left: -300px;
                background-image: url("../img/vyberite-podarki-newyear2022/block1_back_element.png");
                background-size: 100%;
                background-repeat: no-repeat;
                width: 368px;
                height: 534px;
                pointer-events: none;
                z-index: -1;
            }
        }
    }

    &__title {
        font-family: PT Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 47px;
        text-align: center;
        color: #2960A5;
        position: relative;
        margin-bottom: 20px;
        a {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
        }
    }
    &__item{
        position: relative;
        text-decoration: none;
    }
    &__name{
        font-family: $font1;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.7;
        position: relative;
        span{
            position: absolute;
            top: -20px;
            left: 0;
            right: 0;
            margin: 0 auto;
            font-family: PT Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 39px;
            text-align: center;
            color: #215D96;
            z-index: -1;
        }
    }
    &__arrow-prev{
        display: none;
        text-decoration: none;
        background-image: url("../img/bottom_block_arrow_left_inactive.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 50px;
        height: 50px;
        position: absolute;
        left: -50px;
        top: 0;
    }
    &__arrow-next{
        display: none;
        text-decoration: none;
        background-image: url("../img/bottom_block_arrow_right_inactive.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 50px;
        height: 50px;
        position: absolute;
        right: -50px;
        top: 0;
    }
    &__icon{
        display: block;
        text-decoration: none;
        opacity: 0.7;
        &.active{
            opacity: 1;
        }
    }

    @include r(1360){
        &__caption {
            grid-template-columns: repeat(auto-fit,minmax(130px,230px));
        }
    }
    @include r(1023) {
        &__caption {
            align-items: flex-start;
            li {
                &.active {
                    .tabs__name{
                        font-size: 24px;
                        line-height: 29px;
                        opacity: 1;
                        span{
                            top: -20px;
                            font-size: 30px;
                            line-height: 39px;
                        }
                    }
                    .tabs__arrow-prev{
                        display: none;
                    }
                    .tabs__arrow-next{
                        display: none;
                    }
                }
            }
        }
    }
    @include r(767){
        &__caption {
            grid-template-columns: 1fr 1fr;
            align-items: flex-end;
            li {
                justify-content: flex-end;
                &.active {
                    .tabs__name{
                        font-size: 18px;
                        line-height: 22px;
                        opacity: 1;
                        span{
                            font-size: 20px;
                            line-height: 26px;
                            top: -20px;
                        }
                    }
                    .tabs__arrow-prev{
                        display: none;
                    }
                    .tabs__arrow-next{
                        display: none;
                    }
                }
                &:hover {
                    transition: all 0.3s ease;
                    opacity: 0.7;
                }
                a{
                    text-decoration: none;
                }
            }
        }
        &__content {
            display: none;
            background-color: #fff;
            border-radius: 20px;
            padding: 20px;
            position: relative;
            margin-bottom: 30px;
            &.active {
                display: block;
            }
        }
        &__item{
            order: 2;
        }
        &__icon{
            order: 1;
            margin-bottom: 20px;
        }
        &__name{
            font-size: 18px;
            line-height: 22px;
            span{
                font-size: 20px;
                line-height: 26px;
            }
        }
        &__title {
            font-size: 24px;
            line-height: 31px;
            a {
                display: none;
            }
        }
    }

}
